<div [@routerTransition]>
    <app-page-header [heading]="'Statistik'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <!-- ini bar -->
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Bar Chart
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <!--
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
                -->
            </div>
        </div> 
        <!-- sampe sini -->
    </div>
</div>
