<!DOCTYPE html>
<html>
<head>
    <title>i-Livestock</title>
    <link rel="stylesheet" type="text/css" href="/../css/bootstrap.min.css">
    <script type="text/javascript" src="/../js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="jumbotron">
  <h1>Hello, Node!</h1>
  <p>Express</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="livestock/tambah">+ Tambah Ternak</a></p>
</div>