<div [@routerTransition]>
    <app-page-header [heading]="'Update Hewan'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Jenis hewan</label>
                    <div class="form-group">
  <label class="col-md-4 control-label" for="radios"></label>
          <div class="col-md-4"> 
            <label class="radio-inline" for="radios-0">
              <input type="radio" name="radios" id="radios-0" value="1" checked="checked" />
              Sapi
            </label>
            
            <label class="radio-inline" for="radios-1">
              <input type="radio" name="radios" id="radios-1" value="2">
              Kambing
            </label> 
          </div>
        </div>                    
                </fieldset>

                <fieldset class="form-group">
                    <label>Id Hewan</label>
                    <input class="form-control" type="number" min="0">
                </fieldset>

		      <fieldset class="form-group">
                    <label>Usia (bulan)</label>
                    <input class="form-control" type="number" min="0">
                </fieldset>

                <fieldset class="form-group">
                    <label>Bobot (kg)</label>
		              <input class="form-control" type="number" min="0">
                </fieldset>
		
                
                
		 <div class="form-group">
                    <label>Status</label>
                    <select class="form-control">
                        <option>Sehat</option>
                        <option>Sakit</option>
                        <option>Mati</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>

            </form>

        </div>
     
    <!-- /.row -->
</div>
