<div [@routerTransition]>
    <h2 class="text-muted">Qurban-me!</h2>
    
    <hr>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<div class="container">
       <div class="row">
          <div class="col-md-6">
            <div class="square-service-block">
               <a href="#">
                 <div class="ssb-icon"><i class="fa fa-table" aria-hidden="true"></i></div>
                 <h2 class="ssb-title">Tabel Qurban-me!</h2>  
               </a>
            </div>
          </div>
                
          <div class="col-md-6">
            <div class="square-service-block">
               <a href="#">
                 <div class="ssb-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                 <h2 class="ssb-title">Statistik Qurban-me!</h2>  
               </a>
            </div>
          </div>
          


    </div>
    
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Tabel Qurban-me!</div>
                <div class="card-block table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Usia</th>
                            <th>Jenis</th>
			    <th>Bobot</th>
			    <th>Status</th>
			    <th>Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Sapi001</td>
                            <td>2</td>
                            <td>perah</td>
			    <td>46</td>
			    <td>sehat</td>
			    <td><a class="btn btn-sq-lg btn-success" href="#"><i class="fa fa-github-alt fa-lg"></i> Kurban</a>
                            <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Hapus</a></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Sapi002</td>
                            <td>3</td>
                            <td>perah</td>
			    <td>67</td>
			    <td>sakit</td>
			    <td><a class="btn btn-sq-lg btn-success" href="#"><i class="fa fa-github-alt fa-lg"></i> Kurban</a>
                            <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Hapus</a></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Sapi003</td>
                            <td>4</td>
                            <td>perah</td>
			    <td>49</td>
			    <td>sehat</td>
			    <td><a class="btn btn-sq-lg btn-success" href="#"><i class="fa fa-github-alt fa-lg"></i> Kurban</a>
                            <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Hapus</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            </div>

        </div>
    
    </div>

</div>
