

<div class="container">

<!-- Form Name -->
<legend>Ganti password</legend>
  <div class="wrap">
    <a [routerLink]="['/profil']" [routerLinkActive]="['router-link-active']" class="button">Edit Profil</a>
  </div>

  <div class="wrap2">
    <a [routerLink]="['/password']" [routerLinkActive]="['router-link-active']" class="button">Ganti Password</a>
  </div>

<!--        <div class="nav nav-tabs">
          <button href="../profil/blank-page.component.html" data-toggle="tab">Profile</button>
          <button href="../password/blank-page.component.html" data-toggle="tab">Password</button>
        </div>
   --> 

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="profile">
            <form id="tab">
<!-- Text input--> <br> <br> <br>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Password lama</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Password lama" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Password baru</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Password baru" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Ulangi password baru</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Password baru" class="form-control input-md">
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Simpan</button>
  </div>
</div>
                
</form>

</div>
        
        <div class="tab-pane fade" id="pass">
        <form id="tab2">
            <label>Password Baru</label>
            <input type="password" class="input-xlarge">
            <div>
                <button class="btn btn-primary">Update</button>
            </div>
        </form>
      </div>