

<div class="container">

<!-- Form Name -->
<legend>Profil Saya</legend>
  <div class="wrap">
    <a [routerLink]="['/profil']" [routerLinkActive]="['router-link-active']" class="button">Ganti Profil</a>
  </div>

  <div class="wrap2">
    <a [routerLink]="['/password']" [routerLinkActive]="['router-link-active']" class="button">Ganti Sandi</a>
  </div>

<!--        <div class="nav nav-tabs">
          <button href="../profil/blank-page.component.html" data-toggle="tab">Profile</button>
          <button href="../password/blank-page.component.html" data-toggle="tab">Password</button>
        </div>
   --> 

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="profile">
            <form id="tab">
<!-- Text input--> <br> <br> <br>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Kata Sandi Lama</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Kata Sandi Lama" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Kata Sandi Baru</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Kata Sandi Baru" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Konfirmasi Kata Sandi Baru</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Konfirmasi Kata Sandi Baru" class="form-control input-md">
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Simpan</button>
  </div>
</div>
                
</form>

</div>
        