<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a routerLink="/dash_qurban" [routerLinkActive]="['router-link-active']" class="navbar-brand">i-Livestock</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> AIR <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a routerLink="/profil" [routerLinkActive]="['router-link-active']" class="dropdown-item"><i class="fa fa-fw fa-user"></i> {{ 'Profil' | translate }}</a>
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="fa fa-fw fa-power-off"></i> {{ 'Keluar' | translate }} </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
