<div [@routerTransition]>
    <app-page-header [heading]="'Tambah Pakan'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Jenis hewan</label>
                    <div class="form-group">
  <label class="col-md-4 control-label" for="radios"></label>
          <div class="col-md-4"> 
            <label class="radio-inline" for="radios-0">
              <input type="radio" name="radios" id="radios-0" value="1" checked="checked" />
              Sapi
            </label>
            
            <label class="radio-inline" for="radios-1">
              <input type="radio" name="radios" id="radios-1" value="2">
              Kambing
            </label> 
          </div>
        </div>                    
                </fieldset>

		      <fieldset class="form-group">
                    <label>Nama Pakan</label>
                    <input class="form-control" type="text">
                </fieldset>
                
                <fieldset class="form-group">
                    <label>Jenis Pakan</label>
		              <input class="form-control" type="text">
                </fieldset>

                <fieldset class="form-group">
                    <label>Jumlah Pakan (kg)</label>
		              <input class="form-control" type="number" min="0">
                </fieldset>

                <button type="tambah" class="btn btn-primary">Tambah</button>
                <button type="reset" class="btn btn-danger">Reset</button>

            </form>

        </div>
     
    <!-- /.row -->
</div>
