<div [@routerTransition]>
    <app-page-header [heading]="'Tambah Pakan'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form [formGroup]="form">

		      <fieldset class="form-group">
                    <label>Nama Pakan</label>
                    <input
                        #namaPakan
                        formControlName="nama_pakan"
                        ng-model="nama_pakan"
                        type="text"
                        id="nama_pakan"
                        placeholder="Nama Pakan"
                        >
                </fieldset>

                <fieldset class="form-group">
                    <label>Jenis Pakan</label>
                    <div class="form-group">
            <label class="col-md-4 control-label" for="radios"></label>
                  <div class="row">
                    <label class="radio-inline" for="radios-0">
                      <input type="radio" name="radios" ng-model="data.jenis_pakan" id="radios-0" value="1" id="jenis_pakan" fromControlName="jenis_pakan">
                      Rumput
                    </label>

                    <label class="radio-inline" for="radios-1">
                      <input type="radio" name="radios" ng-model="data.jenis_pakan" id="radios-1" value="2" id="jenis_pakan" fromControlName="jenis_pakan">
                      Konsentrat
                    </label>
                  </div>
                </div>
                        </fieldset>

                <fieldset class="form-group">
                    <label>Jumlah Pakan (kg)</label>
		              <input
                  #jumlahPakan
                  formControlName="jumlah_pakan"
                  ng-model="jumlah_pakan"
                  type="number"
                  id="jumlah_pakan"
                  placeholder="jumlah_pakan"
                  min=0
                  class="form-control" 
                  >
                </fieldset>

                <fieldset class="form-group">
                    <label>Kandungan</label>
		              <input
                  #kandungan
                  class="form-control"
                  formControlName="kandungan"
                  ng-model="kandungan"
                  type="text"
                  id="kandungan"
                  placeholder="kandungan"
                  >
                </fieldset>

            </form>
            <button type="tambah" class="btn btn-primary" (click)="addPakan()">Tambah</button>
            <button type="reset" class="btn btn-danger">Reset</button>

        </div>

    <!-- /.row -->
</div>
