<div [@routerTransition]>
    <app-page-header [heading]="'Tambah Pakan'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form [formGroup]="form">

		      <fieldset class="form-group">
                    <label>Nama Pakan</label>
                    <input
                        #namaPakan
                        formControlName="nama_pakan"
                        ng-model="nama_pakan"
                        type="text"
                        id="nama_pakan"
                        placeholder="Nama Pakan"
                        >
                </fieldset>

                <fieldset class="form-group">
                  <div class="form-group">
                    <label for="role">Jenis Pakan</label>
                    <select
                        #role
                        formControlName="jenis_pakan"
                        ng-model="jenis_pakan"
                        id="jenis_pakan"
                        placeholder="Jenis pakan"
                        class="form-control">
                            <option>rumput</option>
                            <option>konsentrat</option>
                    </select>
                </div>

                        </fieldset>

                <fieldset class="form-group">
                    <label>Jumlah Pakan (kg)</label>
		              <input
                  #jumlahPakan
                  formControlName="jumlah_pakan"
                  ng-model="jumlah_pakan"
                  type="number"
                  id="jumlah_pakan"
                  placeholder="jumlah_pakan"
                  min=0
                  class="form-control"
                  >
                </fieldset>

                <fieldset class="form-group">
                    <label>Kandungan</label>
		              <input
                  #kandungan
                  class="form-control"
                  formControlName="kandungan"
                  ng-model="kandungan"
                  type="text"
                  id="kandungan"
                  placeholder="kandungan"
                  >
                </fieldset>

            </form>
            <button type="tambah" class="btn btn-primary" (click)="addPakan()">Tambah</button>
            <button type="reset" class="btn btn-danger" (click)="reset()">Reset</button>

        </div>

    <!-- /.row -->
</div>
