HTML  CSS  JS  Result
Edit on
*{
  box-sizing: border-box;
  font-family : "verdana"
}
html,body{
  margin: 0px;
}

#controls{
  height: 68px;
  width: 700px;
  background-color : #5F7E87;
  color : white;
  padding: 10px;
}
