
<div [@routerTransition]>
   <!-- <h2 class="text-muted">Dashboard</h2> -->
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                  <!--  <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
	  	   -->
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>

    
    <p> i-Livestock lalalala


    <hr>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<div class="container">
       <div class="row">
          <div class="col-md-3">
            <div class="square-service-block">
               <a routerLink="/qurban_me" [routerLinkActive]="['router-link-active']">
                 <div class="ssb-icon"><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
                 <h2 class="ssb-title">Qurban-me!</h2>  
               </a>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="square-service-block">
               <a routerLink="/jumlah_hewan" [routerLinkActive]="['router-link-active']">
                 <div class="ssb-icon"> <i class="fa fa-globe" aria-hidden="true"></i> </div>
                 <h2 class="ssb-title">Jumlah Hewan</h2>  
               </a>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="square-service-block">
               <a routerLink="/jumlah_pakan" [routerLinkActive]="['router-link-active']">
                 <div class="ssb-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
                 <h2 class="ssb-title">Jumlah Pakan</h2>  
               </a>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="square-service-block">
               <a routerLink="/tambah_hewan" [routerLinkActive]="['router-link-active']">
                 <div class="ssb-icon"><i class="fa fa-font" aria-hidden="true"></i></div>
                 <h2 class="ssb-title">Update Hewan</h2>  
               </a>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="square-service-block">
               <a routerLink="#" [routerLinkActive]="['router-link-active']">
                 <div class="ssb-icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                 <h2 class="ssb-title">Statistik</h2>  
               </a>
            </div>
          </div>
          
       </div>
    </div>



    <hr>
</div>
