<div [@routerTransition]>
    <app-page-header [heading]="'Jumlah Pakan'" [icon]="'fa fa-pie-chart'"></app-page-header>
    <div class="row">
        <div class="col col-sm-9">
            <div class="card mb-3">
                <div class="card-header">
                    Grafik Pakan
                </div>
                <div class="card-block">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
 
</div>
