<div [@routerTransition]>
    <app-page-header [heading]="' Domba'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Tabel Data Domba</div>
                <div class="card-block table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Eartag</th>
                            <th>Spesies</th>
                            <th>Usia (bln)</th>
                            <th>Bobot (kg)</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let post of haha;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{post?.nomor_eartag}}</td>
                            <td>{{post?.spesies_hewan}}</td>
                            <td>{{post?.tanggal_lahir}}</td>
                            <td>{{post?.berat_badan}}</td>
                            <td>{{post?.kesehatan_hewan}}</td>
                            <td><button type="edit" class="btn btn-success" (click)="edit(post?.id)"><i class="fa fa-fw fa-edit"></i> Edit</button>
                            <button type="reset" class="btn btn-danger" (click)="delete(post?.id,post?.nomor_eartag,post?.spesies_hewan,post.tanggal_lahir,post?.berat_badan,post?.kesehatan_hewan)"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
