<div [@routerTransition]>
  <div class="row">
      <div class="col col-xl-12 col-lg-12">
          <div class="card mb-3">
              <div class="card-header">Tabel Data Sapi</div>
              <div class="card-block table-responsive">
                  <table class="table">
                      <thead class="thead-inverse">
                      <tr>
                          <th>#</th>
                          <th>ID</th>
                          <th>Usia (bln)</th>
                          <th>Jenis</th>
                          <th>Bobot (kg)</th>
                          <th>Status</th>
                          <th>Aksi</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let post of haha">
                          <th scope="row"></th>
                          <td>{{post?.nomor_eartag}}</td>
                          <td>{{post?.tanggal_lahir}}</td>
                          <td>{{post?.jenis_hewan}}</td>
                          <td>{{post?.berat_badan}}</td>
                          <td>{{post?.kesehatan_hewan}}</td>
                          <td><a class="btn btn-sq-lg btn-success" href="#">
<i class="fa fa-fw fa-edit"></i> Edit</a> <a class="btn btn-danger" href="#">
<i class="fa fa-trash-o fa-lg"></i> Delete</a></td>
                      </tr>

                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
