<div [@routerTransition]>
    <app-page-header [heading]="'Sapi'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-xl-10 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Tabel Data Sapi</div>
                <div class="card-block table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Usia</th>
                            <th>Jenis</th>
			    <th>Bobot</th>
			    <th>Status</th>
			    <th>Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Sapi001</td>
                            <td>2</td>
                            <td>perah</td>
			    <td>46</td>
			    <td>sehat</td>
			    <td>edit / hapus</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Sapi002</td>
                            <td>3</td>
                            <td>perah</td>
			    <td>67</td>
			    <td>sakit</td>
			    <td>edit / hapus</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Sapi003</td>
                            <td>4</td>
                            <td>perah</td>
			    <td>49</td>
			    <td>sehat</td>
			    <td>edit / hapus</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Contextual classes</div>
                <table class="card-block table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-active">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
